body{
	font-size: 16px;
	font-family: 'Helvetica';
	background-color:#ccc;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
*{
	padding: 0;
	margin: 0;
}
.main-container{
	width: 960px;
	margin:0 auto;
}
.page{	
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px 2px #999;
	background-color: #fff;
}
.module-venn{
	position: relative;	
}
.circle{	
	border-radius: 50%;
	height: 400px;
	width: 400px;
	display: inline-block;
}
.circle-1{
	background-color: #3f51b5;
	margin-right: -75px; 
}
.circle-2{
	background-color: #ff124b;
	opacity: 0.9;
}
.outer-case{
	width: 400px;
	margin: 0 auto;
	background-color: #000;
	padding: 20px;
	border-radius: 5px;
}
.sensors-panel{
	height: 50px;
	position: relative;
}
.front-camera{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 10%;
	background-color: #7f7f7f;	
}
.speaker-grill{
	height: 5px;
	border-radius: 2px;
	width: 40%;
	margin: 0 auto;
	display: inline-block;
	background-color: #7f7f7f;
}
.screen-panel{
	background-color: #4ea3e4;
	height: 600px;
}
.input-btn{
	border-radius: 20%;
	width: 60px;
	height:45px;	
	margin: 10px auto 10px auto;
	background-color: #7f7f7f;
}
.module-perfume{
	background-color: #924954;
}
.module-perfume .container{
	width: 400px;
	margin: 0px auto;
	padding: 30px 0;
}
.module-perfume .perfume-lid{
	width: 100px;
	margin: 0 auto;
}
.module-perfume .perfume-cap{
	width: 50%;
	height: 60px;	
	float: left;
}
.module-perfume .perfume-cap:first-child{
	background-color: #fff;
	border-top-left-radius: 5px;
}
.module-perfume .perfume-cap:last-child{
	background-color: #f0f0f0;
	border-top-right-radius: 5px;
}
.module-perfume .separator{	
	width: 135px;
	margin: 0 auto;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background-color: #fff;
	height: 5px;
}
.module-perfume .perfume-liquid{
	border-radius: 5px;	
	background-color: #fff;
	padding: 10px;
}
.module-perfume .perfume-liquid>div{
	background-color: #924954;
	height: 550px;
	position: relative;
}
.module-perfume .inner-container{
	background-color: #f7f36e;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 65%;
}
.module-perfume .pipe{
	position: absolute;
	left: 49%;
	height: 95%;
	width: 2%;
	top: 0;
	opacity: 0.8;
	background-color: #f0f0f0;
}
.module-bus{
	height: 470px;
}
.module-bus .frame{
	width: 95%;
	position:relative;
	height: 340px;
	background-color: #e13835;
	margin:0 auto;
	padding: 20px;
}
.module-bus .door{
	float: left;
	margin-left: 10px;
	height: 170px;
	width: 17%;
	border: 5px solid #b30000;
	border-radius: 15px;
	background-color: #fff;

}
.module-bus .windows{
	float: right;
	margin-left: 15px;
	height: 120px;
	width: 17%;
	border: 5px solid #b30000;
	border-radius: 15px;
	background-color: #fff;
}
.module-bus .board{
	float: right;
	background-color: #e9fca2;
	border-radius: 10px;
	width: 9%;
	height: 50px;
	margin-top: 30px;
}
.module-bus .wheels{
	background-color: #fff;
	position: absolute;	
	padding: 10px;
	bottom: -55px;
	border-radius: 50%;
	height: 180px;
	width: 180px;
}
.module-bus .wheels:first-child{
	left: 70px;
}
.module-bus .wheels:last-child{
	right: 70px;
}
.module-bus .outer-wheel{
	background-color: #000;	
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.module-bus .inner-wheel{
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: #999;	
	border-radius: 50%;
	width: 50%;
	height: 50%;
}
.module-bus .headlight{
	position: absolute;	
	left: -10px;
	bottom: 30px;
	height: 40px;	
	border: 5px solid #f0ff00;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;  
}
.module-bill-board .board{
	height: 260px;
	position: relative;
	width: 500px;
	margin: 0 auto;
	background-color: #fff;
	border:20px solid #000;
}
.module-bill-board .board p{	
	font-size: 12em;
}
.module-bill-board .lights-row{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.module-bill-board .lights-row .lights{	
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 10px solid #000;
}
.module-bill-board .lights-row .lights:before{
	content: '';
	border-radius: 50%;	
	position: absolute;
	bottom: 0;
	left: -25px;
	border: 25px solid #000;
	
}
.module-bill-board .lights-row .lights:first-child{
	left: 12%;
}
.module-bill-board .lights-row .lights:last-child{
	right: 12%;
	left: initial;
}
.module-bill-board .bottom-section{
	width: 500px;
	margin: 0 auto;
}
.module-bill-board .bottom-stand{
	width: 95%;
	margin: 0 auto;
	border: 5px solid #000;
}
.module-bill-board .pillar{
	width: 25%;
	margin: 0 auto;
	height: 200px;
	background-color: #000; 
}
.module-bill-board .foundation{
	width: 40%;
	margin: 0 auto;
	height: 50px;
	background-color: #000;
}
.module-crosshair {
	width: 500px;
	margin: 0 auto;
	height: 500px;
	border:10px solid #924954;
	background-color: #19190d;
}
.module-crosshair .quadrant{
	position: relative;
	width: 49%;
	height: 49%;
	border: 5px solid #c42819;
	float: left;
}
.module-crosshair .quadrant-1{
	border-left:#924954;
	border-top: #924954;
}
.module-crosshair .quadrant-2{
	border-right: #924954;
	border-top: #924954;
}
.module-crosshair .quadrant-3{
	border-left:#924954;
	border-bottom: #924954;
}
.module-crosshair .quadrant-4{
	border-right:#924954;
	border-bottom: #924954;
}
.module-crosshair .outer-circle{
	border-radius: 50%;
	width: 75%;
	margin: 10% auto;
	height: 75%;
	border:10px solid #c42819;
}
.module-crosshair .inner-circle{
	border-radius: 50%;
	width: 50%;
	margin: 25% auto;
	height: 50%;
	border:5px solid #c42819;
}
.module-crosshair .inner-most-circle{
	border-radius: 50%;    
	position: relative;
    width: 50%;
    margin: 25% auto;
    height: 50%;
    background-color: #19190d;
    position: relative;
    z-index: 100;
}
.module-crosshair .inner-most-circle .horizontal{
	width: 3px;
    position: absolute;
    left: 48%;
    top: 31%;
    height: 30px;
    background-color: #c42819;
}
.module-crosshair .inner-most-circle .vertical{
	height: 3px;
	position: absolute;
	width: 30px;
	top: 45%;
	left: 34%;
	background-color: #c42819;
}
.module-clock{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}
.module-clock .quadrant{
	float: left;
	width: 50%;
	height: 50%;

}
.module-clock .quadrant .clock{
	border-radius: 50%;
    border: 15px solid #fff;
    width: 50%;
    height: 50%;
    margin: 15% auto;
    padding: 15px;  
}
.module-clock .quadrant-6{
	background-color: #73a7d9;
}
.module-clock .quadrant-3{
	background-color: #1e92bb;
}
.module-clock .quadrant-9{
	background-color: #ee3d5a;
}
.module-clock .quadrant-12{
	background-color: #a5ca7d;
}
.module-clock .clock div{
	width: 46%;
	height: 50%;
}
.module-clock .quadrant-6 div{
	border-right: 10px solid #fff;
	height: 100%;
}
.module-clock .quadrant-12 div{
	border-right: 10px solid #fff;
	height: 50%;
}
.module-clock .quadrant-3 div{
	border-left: 10px solid #fff;
	border-bottom: 10px solid #fff;
	height: 50%;
	margin-left: 46%;
}
.module-clock .quadrant-9 div{
	border-right: 10px solid #fff;
	border-bottom: 10px solid #fff;
	height: 50%;
}
.module-layout {
	width: 660px;	
	margin: 0 auto;
	border:1px solid #ae007a;
}
.module-layout .tile-1{
	background-color: #00acc2;
	height: 130px;
	margin-bottom: 2px;
}
.module-layout .tile-2{
	height: 50px;
	background-color: #1de9b6;
}
.module-layout .grid-container{
	padding: 0 5px;
}
.module-layout .row-3>div{
	float: left;
	height: 200px;
	margin: 10px 5px;
	background-color: #fb8c00;
}
.module-layout .row-3>div:first-child,.module-layout .row-4>div:first-child{
	margin-left: 0;
}
.module-layout .row-3>div:last-child,.module-layout .row-4>div:last-child{
	margin-right: 0;
}
.module-layout .row-3 .tile-1{
	width: 59.2%;	
}
.module-layout .row-3 .tile-2{
	width: 39.2%;	
}
.module-layout .row-4{
	background-color: #81d5fa;
	padding: 0.5em;
	margin-bottom: 10px;
}
.module-layout .row-4>div{
	float: left;
	height: 200px;
	width: 32.2%;
	margin: 0px 5px;	
	box-sizing:border-box;
	background-color: #3949ab;
}
.module-layout .row-4 .tile-3{
	padding: 10px;
}
.module-layout .row-4 .tile-3>div{
	margin-bottom: 5px;
	height: 48%;
	background-color: #e8f63e;
}
.module-layout .row-5{
	height: 300px;	
}
.module-layout .row-5 .col-1{
	width: 60.4%;
	float: left;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #6d4d42
}
.module-layout .row-5 .col-1>div{
	height: 31%;
	margin: 10px 0;
	background-color: #8c6e63;
}
.module-layout .row-5 .col-1>div:first-child{
	margin-top: 0;
}
.module-layout .row-5 .col-1>div:last-child{
	margin-bottom: 0;
}
.module-layout .row-5 .col-2{
	float: left;
	width: 38%;
	background-color: #fff;
	margin-left: 10px;
	height: 100%;
	box-sizing: border-box;
}
.module-layout .row-5 .col-2>div{
	background-color: #e58b1b;
	margin-bottom: 10px;
}
.module-layout .row-5 .col-2 .tile-1{
	height: 58%;
}
.module-layout .row-5 .col-2 .tile-2{
	height: 38.5%;
}
.module-layout .row-6{
	clear: both;
	height: 50px;
	background-color: #7f7f7f;
	margin: 10px 0;
}
.module-retro-board{
	margin: 0 auto;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border:1px solid #5da492;
	background-color: #5da492;
}
.module-retro-board .content{
	border: 5px solid #615f62;
	width: 60%;
	margin: 0 auto;
	margin-top: 25%;	
	background-color: #fff;
}
.module-retro-board .content>div{
	padding: 5%;
	font-size: 14px;
}
.module-retro-board .pillar{
	width: 12%;
	background-color: #615f62;
	margin:0 auto;
	padding: 2%;
	position: relative;
	z-index: 100;
}
.module-retro-board .pillar>div{
	background-color: #5da492;
	height: 15px;
	margin-bottom: 5px;
}
.module-retro-board .stand{
	width: 25%;
	margin: 0 auto;
	background-color: #4d5154;
	height: 15px;
	position: relative;
	z-index: 100;
}
.module-retro-board .shadow{
	border-radius: 50%;
	width: 40%;
	margin:0 auto;
	padding: 15px;
	margin-top: -15px;
	background-color: #699188;
}